file_format	890430
use_color	1
activity_log	4

# Ram Boards:
    ram_slot	0
    ram_name	386-20
    ram_wdsize	8
    ram_banktop	1
    ram_parrt	1
    ram_banktyp	256 256 256 256 0 0 0 0 0 0 0 0 0 0 0 0 
    ram_basebeg	0x0000000
    ram_baseend	0x00fffff


# Saved Batch Settings:
    b_serial	0 0 0 0
    b_comloop	0 0 0 0
    b_parallel	0 0 0
    b_lptloop	0 0 0
    b_floppy	0 0 0 0
    b_flopwrite	0 0 0 0
    b_fixed	0 0
    b_sysboard	0
    b_rtclock	0
    b_base	0 0x 0x
    b_ext	0 0x 0x
    b_ems	0 0x 0x
    b_memquick	0
    b_vidmem	0
    b_vidtext	0
    b_vidgraph	0
    b_printer	0  
    b_keyboard	0 
    b_mouse	0
    b_joystick	0
    b_logtype	
    b_passes	1
    b_mem_passes	1
    b_pause	0

